$white: #fff;
$almost-white: #FAFAFA;
$grey: #F1F1F1;
$dark-grey: #4C4C4C;
$almost-black: #141414;
$footer-almost-black: #101010;
$black: #000;
$orange: #D87D4A;
$light-orange: #FBAF85;

// extend
